<?xml version="1.0"?>
<robot>

<gazebo reference="base_link">
    <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="wheel1_link">
    <material>Gazebo/Yellow</material>
</gazebo>

<gazebo reference="wheel2_link">
    <material>Gazebo/Yellow</material>
</gazebo>

<gazebo reference="caster_link">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo>
    <gazebo>
        <plugin
          filename="libgz-sim-diff-drive-system.so"
          name="gz::sim::systems::DiffDrive">
          <left_joint>wheel_left_joint</left_joint>
          <right_joint>wheel_right_joint</right_joint>
          <wheel_separation>1.25</wheel_separation>
          <wheel_radius>0.3</wheel_radius>
          <odom_publish_frequency>50</odom_publish_frequency>
          <frame_id>odom</frame_id>
          <child_frame_id>base_link</child_frame_id>
        </plugin>
  
        <plugin
            filename="libgz-sim-joint-state-publisher-system.so"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>
    </gazebo>
</gazebo>

</robot>
